.hero-content{
    flex: none !important;
    
} 

.short-container{
    width: 100%;
    height: calc(100vh - 72px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar{
        display: none;
    }

    .short-item{
        scroll-snap-align: start;
    }
}