<div class="sidebar-container">
    <button class="sidebar-item" *ngIf="onMobile">
        <mat-icon
            class="sidebar-item-create"
            svgIcon="search"
            aria-hidden="false"
            aria-label="create"></mat-icon>
    </button>
    <button class="sidebar-item" *ngIf="onMobile">
        <mat-icon
            class="sidebar-item-create"
            svgIcon="micro"
            aria-hidden="false"
            aria-label="create"></mat-icon>
    </button>
    <button class="sidebar-item">
        <mat-icon
            class="sidebar-item-create"
            svgIcon="plus-camera"
            aria-hidden="false"
            aria-label="create"></mat-icon>
    </button>
    <button class="sidebar-item">
        <mat-icon
            class="sidebar-item-notification"
            matBadge="15"
            matBadgeColor="warn"
            svgIcon="bell"
            aria-hidden="false"
            aria-label="notification">
        </mat-icon>
    </button>
    <button class="sidebar-item">
        <img
            class="sidebar-item-imgprofile"
            src="https://media.istockphoto.com/id/1371797889/vector/young-smiling-man-avatar-3d-vector-people-character-illustration-cartoon-minimal-style-3d.jpg?b=1&s=170667a&w=0&k=20&c=RdE6XawHrhZaeo__bXATnZtOzWxTOIWBU2pzVxW8NTY="
            alt="" />
    </button>
</div>
