<div class="card-container">
    <div class="thumbnail">
        <a href="">
            <div class="thumbnail-img">
                <img src="https://i.ytimg.com/vi/Vi_kXNcXolY/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDpdRsbjzkxnpZCiKwwZ2aACjJvrg" alt="">
            </div>
        </a>
    </div>
    <div class="meta">
        <h3 class="meta-rich-content">
            <a href="" class="meta-rich-title">
                Thỏ Bảy Màu VS Tiểu Anh Minh (Game 1) - Vòng Bán kết Giải đấu Solo Yasuo | Nguồn : VETV7 ESPORTS
            </a>
        </h3>
        <div class="meata-data">
            <div class="byline-container">
                <a href="">Yêu Thỏ</a>
            </div>
            <div class="meta-data-line">
                3,9 N lượt xem 9 giờ trước
            </div>
        </div>
    </div>
    <div class="menu">
        <mat-icon class="menu-icon" svgIcon="threedots"></mat-icon>
    </div>
</div>
