$primary: #0f0f0f;
$primary-text: #f1f1f1;

.bottom-control{
    bottom: 0;
    left: 0;
    padding: 32px 16px 16px 16px;
    display: flex;
    position: absolute;
    flex-direction: column;
    color: $primary-text;
    width: 100%;

    .top-row {
        margin-bottom: 12px;
    }

    .bottom-row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            a {
                text-decoration: none;
                text-align: center;
                color: $primary-text;
            }

            img{
                width: 36px;
                height: 36px;
                margin-right: 6px;
                border-radius: 50%;
            }
        }
        
        .register-btn{
            padding: 0 16px 0 16px;
            background-color: #fff;
            border-radius: 20px;
            cursor: pointer;

            button{
                border: none;
                background: none;
                font-size: 14px;
                font-weight: 500;
                line-height: 36px;
                color: rgb(31, 31, 31);
                font-stretch: expanded;
                cursor: pointer;
            }
        }
    }

    @media screen and (max-width: 600px){
        padding-right: 72px;
    }
}