<section class="container">
    <app-chipset></app-chipset>
    <div class="card-container">
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
        <app-watch-card></app-watch-card>
    </div>
</section>
