<section class="watch-primary-container" (window:resize)="onResize($event)">
    <div class="primary-inner">
        <div class="player">
            <div class="player-media" #playerMedia>
                <!-- <img src="https://i.ytimg.com/vi/Vi_kXNcXolY/hqdefault.jpg?sqp=-oaymwEbCKgBEF5IVfKriqkDDggBFQAAiEIYAXABwAEG&rs=AOn4CLDpdRsbjzkxnpZCiKwwZ2aACjJvrg" alt=""> -->
                <!-- <vg-player>
                    <video autoplay #media [vgMedia]="$any(media)" id="singleVideo" preload="auto" [src]="source" controls>
        
                    </video>
                </vg-player> -->
                <iframe width="100%" [height]="heightMediaFrame" 
                    src="https://www.youtube.com/embed/U_6xHKGf3Ho" 
                    allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen"
                    msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen"
                    webkitallowfullscreen="webkitallowfullscreen">
                </iframe>

            </div>
        </div>
        <div class="below">
            <app-metadata-top-row></app-metadata-top-row>
            <app-description></app-description>
            <div class="metadata-comment-close">
                Tính năng bình luận đã bị tắt. 
            </div>
        </div>
    </div>
</section>