$primary: #0f0f0f;
$primary-text: #f1f1f1;

.short-actions {
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .short-actions-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .short-actions-btn {
            width: 48px;
            height: 48px;
            flex: none;
            border-radius: 50%;
            background-color: rgba($color: #f1f1f1, $alpha: 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 16px;

            button {
                width: 24px;
                height: 24px;
                border: none;
                background: none;
                flex: none;
                width: fit-content;
                cursor: pointer;

                mat-icon {
                    color: $primary-text;
                }
            }
        }

        div {
            text-align: center;

            span {
                color: $primary-text;
                text-align: center;
                text-size-adjust: 100%;
                white-space: pre-wrap;
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                text-transform: none;
                letter-spacing: normal;
                overflow-wrap: anywhere;
            }
        }
    }

    @media screen and (max-width: 600px) {
        .short-actions .short-actions-item .short-actions-btn{
            z-index: 10;
        }
        .short-actions .short-actions-item .short-actions-title{
            z-index: 10;
        }
    }
}
