<section class="auth-container" (window:resize)="onResize($event)">
  <app-toolbar [sidemenu]="sidemenu"></app-toolbar>
  <mat-drawer-container class="hero-container" autosize>
    <mat-drawer #sidemenu class="hero-sidemenu" mode="side" [opened]="openedSideMenu">
      <app-sidemenu></app-sidemenu>
    </mat-drawer>

    <mat-drawer-content>
      <div class="hero-content">
        <app-sidenav *ngIf="!sidemenu.opened"></app-sidenav>
        <router-outlet></router-outlet>
      </div>
      
    </mat-drawer-content>
  </mat-drawer-container>
</section>