$primary: #0f0f0f;
$primary-text: #f1f1f1;

//override default class of material
.mat-drawer-side{
  border: 0px;
}

//css
.auth-container{
  width: 100%;
  padding: 0px;
  height: 100vh;
  background-color: $primary;
}

.hero-container {
  width: 100%;
  padding: 0px;
  height: calc(100vh - 56px);
}

.hero-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.hero-sidenav {
  padding: 0px;
  width: 240px;
  background-color: $primary;
}
