<section class="watch-descripttion-container">
    <div class="info-container">
        <div class="info-time">
            <span><b>12.520.763 lượt xem</b></span>
            <span><b>&nbsp;</b></span>
            <span><b>Đã công chiếu vào 19 thg 1, 2023</b></span>
        </div>
        <div class="info-line-expander">
            <span>THỎ BẢY MÀU - THẦN BÀI MIỀN TÂY</span>
        </div>
        <div class="info-footer">
            <span dir="auto">
                ---------------------
            </span>
            <span dir="auto">
                © Bản quyền thuộc về THỎ BẢY MÀU
            </span>
            <span dir="auto">
                © Copyright by THỎ BẢY MÀU ☞ Do not Reup
            </span>
        </div>
    </div>
</section>