<section class="side-login-container">
    <button class="sidelogin-item">
        <mat-icon
            class=""
            svgIcon="threedots"
            aria-hidden="false"
            aria-label="menu">
        </mat-icon>
    </button>
    <button class="sidelogin-btn" (click)="authService.GoogleAuth()">
        <div class="sidelogin-btn-icon">
            <mat-icon svgIcon="user"></mat-icon>
        </div>
        <span class="sidelogin-btn-label">Sign in</span>
    </button>
</section>

