<div class="sidenav-container">
    <div class="mini-guide">
        <div class="mini-guide-entry"> 
            <mat-icon svgIcon="home" class="guide-entry-icon"></mat-icon>
            <span class="guide-entry-title">Trang chủ</span>
        </div>
    </div>
    <div class="mini-guide">
        <div class="mini-guide-entry"> 
            <mat-icon svgIcon="shorts" class="guide-entry-icon"></mat-icon>
            <span class="guide-entry-title">Shorts</span>
        </div>
    </div>
    <div class="mini-guide">
        <div class="mini-guide-entry"> 
            <mat-icon svgIcon="channel" class="guide-entry-icon"></mat-icon>
            <span class="guide-entry-title">Kênh đăng ký</span>
        </div>
    </div>
    <div class="mini-guide">
        <div class="mini-guide-entry"> 
            <mat-icon svgIcon="library" class="guide-entry-icon"></mat-icon>
            <span class="guide-entry-title">Thư viện</span>
        </div>
    </div>
</div>