<mat-toolbar color="primary" class="toolbar-container">
  <div class="toolbar-item">
    <button
      mat-icon-button
      class="toolbar-btn"
      aria-label="toolbar-btn"
      (click)="sidemenu.toggle()">
      <mat-icon
        class="toolbar-icon"
        svgIcon="threeline"
        aria-hidden="false"
        aria-label="menu"></mat-icon>
    </button>

    <div class="logo-icon-container">
      <a href="auth/dashboard"
        ><mat-icon
          class="logo-icon"
          svgIcon="logo"
          aria-hidden="false"
          aria-label="logo"></mat-icon
      ></a>
    </div>
    <span class="logo-label">VN</span>
  </div>
  <app-searchbar class="search-bar"></app-searchbar>
  <app-sidebar></app-sidebar>
</mat-toolbar>
