<mat-nav-list class="item-container">
   <mat-list-item class="item-list">
      <div class="item-list-block">
         <mat-icon class="item-menu-icon" svgIcon="home" aria-hidden="false" aria-label="home"></mat-icon>
         <a href="..." class="item-menu-label">Trang chủ</a>
      </div>
   </mat-list-item>
   <mat-list-item class="item-list">
      <div class="item-list-block">
         <mat-icon class="item-menu-icon" svgIcon="short" aria-hidden="false" aria-label="short"></mat-icon>
         <a href="..." class="item-menu-label">Shorts</a>
      </div>
   </mat-list-item>
   <mat-list-item class="item-list">
      <div class="item-list-block">
         <mat-icon class="item-menu-icon" svgIcon="chanel" aria-hidden="false" aria-label="chanel"></mat-icon>
         <a href="..." class="item-menu-label">Kênh Đăng ký</a>
      </div>
   </mat-list-item>
</mat-nav-list>