<section class="dashboard-container" (window:resize)="onResize($event)" #dashboard>
    <app-chip-header></app-chip-header>
    <div class="dashboard-content-container">
        <section class="dashboard-content" *ngFor="let rowItems of showVideos">
            <app-dashcard *ngFor="let i of rowItems" [video]="i"></app-dashcard>
        </section>

        <div class="dashboard-divider"></div>
        <h3 class="dashboard-header">Tin tức hàng đầu</h3>
        <section class="dashboard-content" *ngFor="let rowItems of showVideos">
            <app-dashcard *ngFor="let i of rowItems" [video]="i"></app-dashcard>
        </section>
    </div>
</section>