$primary: #0f0f0f;
$primary-text: #f1f1f1;

$extra-large: 1280px;
$extra-extra-large: 1536px;

.dashboard-container {
    background-color: $primary;
}

.dashboard-content-container {
    padding-top: 24px;
    margin-left: 32px;
    margin-right: 32px;

    @media screen and (max-width: 512px) {
        margin-left: 42px !important;
        margin-right: 38px !important;
    }

    .dashboard-content {
        margin-left: 16px;
        margin-right: 16px;
        display: flex;
        flex-direction: row;

        ::ng-deep app-dashcard.ng-star-inserted {
            display: flex;
            flex: 1 1 0;
        }
    }

    .dashboard-content-short{
        color: $primary-text;
        display: flex;
        flex-direction: row;
        margin: 24px 16px 24px 24px;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        ::ng-deep app-dashcard.ng-star-inserted {
            display: flex;
            flex: 1 1 0;
        }

        .dashboard-content-short-icon{
            margin-right: 8px;
        }
    }

    .dashboard-divider {
        margin-left: 24px;
        width: calc(100% - 48px);
        height: 5px;
        background-color: rgba(63, 63, 63, $alpha: 1);
    }

    .dashboard-header {
        margin-left: 24px;
        margin-top: 24px;
        margin-bottom: 24px;
        color: rgb(241, 241, 241);
        font-size: 20px;
        font-weight: 400;
        text-size-adjust: 100%;
        line-height: 28px;
    }

    @media screen and (max-width: $extra-extra-large) {
        margin-left: 0px;
        margin-right: 0px;
    }
}


