$primary: #0f0f0f;
$primary-text: #f1f1f1;

.dashboard-container {
  background-color: $primary;
}

.dashboard-content-container{
  padding-top: 24px;
  margin-left: 32px;
  margin-right: 32px;

  .dashboard-content{
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 64px) ;
    display: flex;
    flex-direction: row;
  }
}

