<section class="dashboard-container">
  <app-chip-header></app-chip-header>
    <div class="dashboard-content-container">
      <section class="dashboard-content">
        <app-dashcard></app-dashcard>
        <app-dashcard></app-dashcard>
        <app-dashcard></app-dashcard>
        <app-dashcard></app-dashcard>
      </section>
      <section class="dashboard-content">
        <app-dashcard></app-dashcard>
        <app-dashcard></app-dashcard>
        <app-dashcard></app-dashcard>
        <app-dashcard></app-dashcard>
      </section>
    </div>
</section>
