.searchbar-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.search-block,
.searchbar-item {
  height: 100%;
}
.search-block {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  border: 1px solid #303030;
  overflow: hidden;
  margin-right: 12px;
  flex-grow: 1;
  flex-shrink: 1;
}

.searchbar-item {
  display: flex;
  flex-grow: 1;
}

.search-form {
  display: flex;
  flex-direction: row;
  outline: #065fd4;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  margin-right: 16px;
  flex-grow: 1;
}

.searchform-icon {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchform-icon-search {
  width: 20px;
  height: 20px;
  margin-top: -6px;
}

.searchform-input {
  flex: 1 1 0;
  display: flex;
}

.searchform-input input {
  display: flex;
  flex: 1 1 0;
  height: 24px;
  color: hsla(0, 100%, 100%, 0.88);
  outline: none;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 400;
  width: 10px;
}

.searchform-keyboard {
  background-color: transparent;
  border: none;
}

.toolbar-icon-search {
  width: 64px;
  height: 40px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba($color: #fff, $alpha: 0.08);
}

.toolbar-icon-search-item {
  width: 24px;
  height: 24px;
}

.toolbar-icon-micro {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba($color: #fff, $alpha: 0.1);
  cursor: pointer;
}

.toolbar-icon-micro-item {
  width: 24px;
  height: 24px;
}
