<div class="searchbar-container" *ngIf="!onMobile" (window:resize)="($event)">
    <div class="search-block" [ngClass]="{'search-block-toggle': isFocusingInput }">
        <div class="searchbar-item" [ngClass]="{'search-item-toggle': isFocusingInput }">
            <form action="#" class="search-form">
                <div class="searchform-icon" [ngClass]="{'display-div': !isFocusingInput }">
                    <mat-icon
                        class="searchform-icon-search"
                        svgIcon="search"
                        aria-hidden="false"
                        aria-label="menu"></mat-icon>
                </div>
                <div class="searchform-input">
                    <input type="text" placeholder="Tìm kiếm" (focus)="isFocusingInput = true" (blur)="isFocusingInput = false" />
                </div>
                <button
                    mat-icon-button
                    class="searchform-keyboard"
                    aria-label="search"
                    >
                    <img
                        src="https://www.gstatic.com/inputtools/images/tia.png"
                        width="19px"
                        height="11px"
                        alt="search-icon" />
                </button>
            </form>
        </div>
        <div class="toolbar-icon-search">
            <mat-icon
                class="toolbar-icon-search-item"
                svgIcon="search2"
                aria-hidden="false"
                aria-label="search"></mat-icon>
        </div>
    </div>
    <div class="toolbar-icon-micro">
        <mat-icon
            class="toolbar-icon-micro-item"
            svgIcon="micro"
            aria-hidden="false"
            aria-label="voice search"></mat-icon>
    </div>
</div>
