.metadata-top-row {
    position: relative;
    flex-direction: row;
    display: flex;
    max-width: 100%;


    .top-row-left {
        display: flex;

        flex-direction: row;
        margin-top: 12px;
        margin-right: 12;
        width: 50%;

        a div img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 12px;
        }

        .upload-info {
            margin-right: 24px;

            .channel-info {
                display: flex;
                flex-direction: row;

                a {
                    text-decoration: none;
                    color: rgb(241, 241, 241);

                    h2 {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        cursor: pointer;
                        text-decoration: none;
                    }
                }


            }

            .channel-count {
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                color: rgb(170, 170, 170);
            }
        }

        .subcribde-btn {
            height: 36px;
            padding-left: 16px;
            padding-right: 16px;
            cursor: pointer;
            background-color: rgb(241, 241, 241);
            border: none;
            border-radius: 20px;

            span {
                color: rgb(15, 15, 15);
                font-size: 14px;
                font-weight: 500;
                font-stretch: 100%;
                text-size-adjust: 100%;
                font-family: Arial, Helvetica, sans-serif;
            }

            &:hover {
                background-color: rgba(241, 241, 241, 0.9);
            }
        }

        @media screen and (max-width: 688px) {
            width: 100%;
        }
    }

    .top-row-right {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 12px;

        .like-dislike-button {
            display: flex;
            flex-direction: row;
            border-radius: 20px;
            height: 36px;
            overflow: hidden;

            button mat-icon {
                margin-right: 8px;
            }
        }

        .ldl-divider {
            margin-top: 4px;
            margin-bottom: 4px;
            height: 24px;
            width: 0.5px;
            background-color: rgba(241, 241, 241, 0.1);
        }

        .shape-btn {
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            color: #f1f1f1;
            height: 36px;
            padding-left: 16px;
            padding-right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;


        }

        .trr-btn {
            margin-left: 8px;
            border-radius: 20px;

            mat-icon {
                margin-left: -6px;
                margin-right: 6px;
            }

            span {
                font-size: 14px;
                font-weight: 500;
                text-size-adjust: 100%;
                text-align: center;
                line-height: 36px;
                color: rgb(241, 241, 241);
                font-stretch: 100%;
            }
        }

        .menu-btn {
            margin-left: 8px;
            border-radius: 20px;
            border: none;
            background-color: rgba(255, 255, 255, 0.1);
            color: #f1f1f1;
            height: 36px;
            width: 36px;
            cursor: pointer;
        }

        button:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }

        @media screen and (max-width: 688px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 688px) {
        flex-direction: column;
    }

}