<div class="metadata-top-row" (window:resize)="($event)">
    <div class="top-row-left">
        <a href="">
            <div>
                <img
                    src="https://yt3.ggpht.com/nUn1DIIVQtqxdI5ubE_O8VhmT38NTA_7vIhS__sZsJfunY1uheawMvatoP9WMKu9nF8thJHK1g=s48-c-k-c0x00ffffff-no-rj"
                    alt=""
                    width="40px"
                    height="40px" />
            </div>
        </a>
        <div class="upload-info">
            <div class="channel-info">
                <a href="#">
                    <h2 class="channel-name">THỎ BẢY MÀU</h2>
                </a>
            </div>
            <div class="channel-count">
                <span>1,63 Tr người đăng ký</span>
            </div>
        </div>
        <button class="subcribde-btn"><span>Đăng ký</span></button>
    </div>
    <div class="top-row-right">
        <div class="like-dislike-button">
            <button class="shape-btn">
                <mat-icon
                    class="shape-btn-thumbup"
                    svgIcon="thumbup"></mat-icon>
                <span>2,6N</span>
            </button>
            <div class="ldl-divider"></div>
            <button class="shape-btn">
                <mat-icon svgIcon="thumbdown"></mat-icon>
            </button>
        </div>
        <button class="trr-btn shape-btn" *ngFor="let menu of menus">
            <mat-icon svgIcon="{{ menu.icon }}"></mat-icon>
            <span>{{ menu.titleVI }}</span>
        </button>
        <button class="menu-btn">
            <mat-icon svgIcon="threedots"></mat-icon>
        </button>
    </div>
</div>
