<div class="card-container" *ngIf="video">
    <!-- <div class="card-item-container">
        <div class="thumbnail">
            <a href="watch">
                <div class="thumbnail-img">
                    <img src="https://i.ytimg.com/vi/rM-03g2Ejuo/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCGCt7W4flvC9ucYBf3vkpIIbSdsQ"
                        alt="">
                </div>
            </a>
        </div>
        <div class="detail">
            <a class="avatar-link" href="">
                <div class="avatar-block">
                    <img src="https://yt3.ggpht.com/_-8XOpjtQEf6EAFXFS0P8eUhOmRtsf_t3LE1AKr2UOKbZRibZ9Qh4TK0PWYBp0u90KNMtOj_QrQ=s68-c-k-c0x00ffffff-no-rj"
                        alt="">
                </div>
            </a>
            <div class="meta">
                <h3 class="meta-rich-content">
                    <a href="" class="meta-rich-title">
                        Thỏ Bảy Màu VS Tiểu Anh Minh (Game 1) - Vòng Bán kết Giải đấu Solo Yasuo | Nguồn : VETV7 ESPORTS
                    </a>
                </h3>
                <div class="meata-data">
                    <div class="byline-container">
                        <a href="">Yêu Thỏ</a>
                    </div>
                    <div class="meta-data-line">
                        3,9 N lượt xem 9 giờ trước
                    </div>
                </div>
            </div>
            <div class="menu">
                <mat-icon class="menu-icon" svgIcon="threedots"></mat-icon>
            </div>
        </div>
    </div> -->
    <div class="card-item-container">
        <div class="thumbnail">
            <a [href]="'watch/' + video._idVideo">
                <div class="thumbnail-img">
                    <img
                        [src]="video.infoVideo.thumbnail"
                        [alt]="video.infoVideo.title" />
                </div>
            </a>
        </div>
        <div class="detail">
            <a class="avatar-link" href="">
                <div class="avatar-block">
                    <img
                        [src]="video.infoOwner.imgProfile"
                        [alt]="video.infoOwner.channelName" />
                </div>
            </a>
            <div class="meta">
                <h3 class="meta-rich-content">
                    <a href="#" class="meta-rich-title">
                        {{ video.infoVideo.title }}
                    </a>
                </h3>
                <div class="meata-data">
                    <div class="byline-container">
                        <a href="#"> {{ video.infoOwner.channelName }}</a>
                    </div>
                    <div class="meta-data-line">{{video.infoVideo.viewCount + ' ' +video.infoVideo.timePost}}</div>
                </div>
            </div>
            <div class="menu">
                <mat-icon class="menu-icon" svgIcon="threedots"></mat-icon>
            </div>
        </div>
    </div>
</div>
