<div class="card-container" *ngIf="video">
   
    <div class="card-item-container">
        <div class="thumbnail">
            <a [href]="'watch/' + video._idVideo">
                <div class="thumbnail-img">
                    <img
                        [src]="video.infoVideo.thumbnail"
                        [alt]="video.infoVideo.title" />
                </div>
            </a>
        </div>
        <div class="detail">
            <a class="avatar-link" href="">
                <div class="avatar-block">
                    <img
                        [src]="video.infoOwner.imgProfile"
                        [alt]="video.infoOwner.channelName" />
                </div>
            </a>
            <div class="meta">
                <h3 class="meta-rich-content">
                    <a href="'watch/' + video._idVideo" class="meta-rich-title">
                        {{ video.infoVideo.title }}
                    </a>
                </h3>
                <div class="meata-data">
                    <div class="byline-container">
                        <a href="#"> {{ video.infoOwner.channelName }}</a>
                    </div>
                    <div class="meta-data-line">{{video.infoVideo.viewCount + ' ' +video.infoVideo.timePost}}</div>
                </div>
            </div>
            <div class="menu">
                <mat-icon class="menu-icon" svgIcon="threedots"></mat-icon>
            </div>
        </div>
    </div>
</div>
